@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/poppins/Poppins-Bold.ttf");
  font-family: "Poppins";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/poppins/Poppins-SemiBold.ttf");
  font-family: "Poppins";
  font-weight: 600;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/poppins/Poppins-Regular.ttf");
  font-family: "Poppins";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/poppins/Poppins-Medium.ttf");
  font-family: "Poppins";
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-style: italic;
  src: url("/fonts/poppins/Poppins-MediumItalic.ttf");
  font-family: "Poppins";
  font-weight: 500;
}